data/rubert-tiny2-russian-sentiment-onnx/firstModel.onnx
*.onnx
internal/modelWrapper/data/rubert-tiny2-russian-sentiment-onnx
internal/modelWrapper/data/rubert-tiny2-russian-emotion-detection-ru-go-emotions/model.onnx
internal/modelWrapper/data